#chart {
    font: 10px sans-serif;
    shape-rendering: crispEdges;
}

.unclickable{
	pointer-events: none;
}

.day {
    fill: #fff;
    stroke: #ccc;
}

.month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.external_label {
    font-size: 9pt;
    font-style: italic;
    fill: gray;
}

.internal_label {
    font-size: 8pt;
    font-style: italic;
    fill: gray;
}

.ring {
	stroke: rgb(200,200,200);
	fill: none;
	stroke-width: 0.3;
}

.invisible {
    fill-opacity: 0;
}

.invisible_border {
    stroke: rgba(200,200,200,0);
}

.mask {
	stroke: rgba(200,200,200,0);
	fill-opacity: 0;
}

.dimmed {
	fill-opacity: 0.1;	
}

.hover {
    stroke: black;
}

.selection {
    stroke: orange;
}

.decade_hover {
    stroke-width: 0.5;
    fill: none;
}

.decade_selection {
    stroke-width: 1;
    fill: none;
}

.year_hover {
    stroke-width: 1;
    fill: lightgray;
}

.year_selection {
	stroke-width: 2;
}

#measure_text
{
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
}

#wordle text{
    font-family: 'Trebuchet MS';
    /*font-weight: bold;*/
}